* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e9e9e9;
}

/* -------- GRID PRINCIPAL 4×4 -------- */
.contenedor {
    background: #ccc;
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 columnas */
    grid-template-rows: auto auto 1fr auto; /* 4 filas */
    gap: 0;
}

/* -------- HEADER -------- */
header {
    background: #2c3e50;
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;

    grid-column: 1 / 5; /* Ocupa las 4 columnas */
}

header .logo {
    display: grid;
    justify-self: start; /* izquierda */
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}

header .logo img {
    width: 50px;
}

header .logo a {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}

/* -------- NAV -------- */
header nav {
    display: grid;
    justify-self: end; /* derecha */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;  
}

header nav a {
    background: #c0392b;
    color: #fff;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

/* -------- MAIN -------- */
main {
    background: #fff;
    padding: 15px;
    grid-column: 1 / 5;
    display: grid;

    /* 60% texto y 40% imágenes */
    grid-template-columns: 60% 40%;
    gap: 30px;
}

/* TEXTO */
.texto article:first-child {
    margin-bottom: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid #000;
}

.texto article p {
    line-height: 1.4;
}

/* IMÁGENES */
.imagenes {
    background: #5c5c5c;
    display: grid;
    grid-template-rows: minmax(200px, auto) minmax(200px, auto);
    justify-items: center;
    align-content: center;
    gap: 20px;
    padding: 40px 0;
}

.imagenes img {
    width: 70%;
    max-width: 250px;
}

/* -------- FOOTER -------- */
footer {
    background: #2c3e50;
    padding: 25px;
    color: white;

    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: 1fr auto; 
    align-items: center;
}

footer p {
    margin: 0;
    font-size: 18px;
}

footer img {
    width: 20px;
    margin-left: 10px;
}
