body {
    margin: 2%;
    background-color: bisque;
}

header {
    color: white;
    text-align: center;
    position: relative;
    height: 100vh; 
    overflow: hidden;
}

/* Barra de navegación */
.navbar {
    position: fixed;
    top: -5%;
    left: 0;
    width: 94%;
    background: blue;
    padding: 10px 20px; /* más espacio horizontal */
    z-index: 1000;
    display: flex; /* flexbox para alinear */
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    margin: 2%;
}

.navbar .logo img {
    height: 40px; /* ajusta tamaño del trébol */
    width: auto;
}

.navbar ul {
    flex: 1; /* ocupa todo el espacio disponible */
    display: flex;
    justify-content: right; /* centra los enlaces */
    gap: 10px;
}

.navbar li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s, border-bottom 0.3s;
    padding: 5px;
}

header .hero {
    background-image: url('../img/carnaval-grande.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
    height: 100vh;
  
}



h2, h1, h3 {
    margin-top: 0;
    color: rgb(111, 111, 175);
}

/* Galeria */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 12px;
    margin-top: 15px;
}

.galeria img {
    width: 100%;
    height: 160px;
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);
    cursor: pointer;
}


/*Fiestas callejeras*/
.grid-contenedor {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;

}

.grid-contenedor img {
   width: 50%;
}

.cont {
    flex: 1;
    text-align: center;
    min-width: 200px;
    height: 80%;
    font-size: medium;
}



/*Cristo redentor*/
.cristo-layout {
    display: flex;
    gap: 20px;
    align-items: center;
}

.cristo-texto,
.cristo-imagen {
    flex: 1;
    text-align: center;
}

.cristo-imagen img {
    justify-content: flex-end;
    width: 50%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}

footer {
    background: blue;
    color: white;
    display: flex;
      flex-direction: column;
        align-items: center;
    padding: 10px 20px;
    margin-top: 20px;
    gap: 10px;
    flex-wrap: wrap; /* por si en móvil no cabe */
}

footer .logo2 img {
    height: 40px;
    width: auto;

}

/*Responsive*/
@media (max-width: 900px) {
    body{
        margin: 10%;
    }

    .navbar {
        width: 89%;
    }
    main {
        max-width: 95%;
        margin: 15px auto;
    }

    .cristo-layout {
        order: 0
       
    }

}

/* Navbar y secciones en móvil */
@media (max-width: 700px) {
    body {
        padding-top: 90px; /* más espacio porque la navbar crecerá */
    }

    .navbar {
        flex-direction: row;
        align-items: center;
        gap: 8px;
        padding: 45px;
    }

    .navbar ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
        padding: 0;
        margin: 0;
    }

    header h1 {
        font-size: 2.2rem;
    }

    .galeria img {
        height: 200px;
    }

    .grid-contenedor {
        flex-direction: column;
    }

    .cristo-layout {
        flex-direction: column-reverse;
        text-align: left;
    }
    

    footer {
        flex-direction: column;
        align-items: center;
  }
}